.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    width: 100%;
}

.gallery-container a {
    width: 100%;
    height: 100%;
}

.video-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 42%;
    margin-top: 40px;
    height: 0;
    overflow: hidden;
    max-width: 75%;
    box-shadow: $img-shadow;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
}

.hover01 a picture img {
    transform: scale(1);
    transform: scale(1);
    transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.hover01 a picture:hover img {
    transform: scale(1.1);
    transform: scale(1.1);
}
