@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'mobile-menu';
@import 'blockquotes';
@import 'code';
@import 'technologies';
@import 'technology';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mochiy+Pop+One&display=swap');

body {
    background-color: $background-color;
}

* {
    color: $font-color;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Mochiy Pop One', sans-serif;
    margin-bottom: 0.6em;
    font-weight: bold;
}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
    margin: 8px auto;
    max-width: 800px;
}

.header,
.main,
.footer {
    background-color: #f0f8ff;
}

.main {
    flex: 1 0 auto;
    padding: 3em;
}

.header,
.footer {
    flex: 0 0 auto;
}

/* Header */

.header,
.site-header {
    display: flex;
    justify-content: space-between;
}

.header {
    border-bottom: $border-style;
}

.fa-github-alt {
    margin: 20px;
}

/* Title */

.title,
.logo {
    padding: 1em 3em;
}

.logo {
    width: 150px;
}

@media (max-width: 787px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 30%;
    }

    .logo {
        max-width: 30%;
    }

    .main {
        padding: 1em;
    }

    .technology-container {
        display: flex !important;
        flex-direction: column;
        width: none;
        gap: 20px 45px;
        justify-content: center;
        align-items: center;
    }

    .technology-last-box {
        width: 200px;
        height: 150px;
    }

    .sidebar {
        display: none;
    }

    .article {
        padding: 1em;
    }

    .technology-last-box {
        width: 200px;
    }

}

@media (max-width: 360px) {
    .title a h1 {
        font-size: 20px;
    }

    .fa-github-alt {
        margin: 5px;
    }

    .main h2 {
        font-size: 15px;
    }
}

.title * {
    color: #111;
    position: relative;
    top: 5px;
    text-decoration: none;
}

.nav ul li:hover {
    box-shadow: $nav-hover-shadow;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: $border-style;
    padding: 8px;
}

.footer a {
    color: #222;
}

.footer
.social {
    font-size: 2rem;
}

/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: #444;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

img {
    max-width: 100%;
}
