@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'mobile-menu';
@import 'blockquotes';
@import 'code';
@import 'technologies';
@import 'technology';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mochiy+Pop+One&display=swap');

body {
    background-color: $background-color-body-dark;
}

* {
    color: $font-color-dark;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Mochiy Pop One', sans-serif; */
    margin-bottom: 0.6em;
    font-weight: bold;
}

h1 {
    margin: 0;
    text-align: center;
    color: $title-color-dark;
}

h2 {
    color: $title-color-dark;
}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
    color: $font-color-dark;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
    /* margin: 8px auto; */
    /* max-width: 1100px; */
    width: 100%;
}

/* Header */

.header,
.site-header {
    display: flex;
    justify-content: space-between;
}

.headheader {
    width: 100%;
    background-color: $background-color-header-footer-dark;
}

.header {
    background-color: $background-color-header-footer-dark;
    max-width: 1100px;
    margin: 0 auto;
}

.fa-github-alt {
    margin: 20px;
    color: $font-color-dark;
}

.nav a,
.nav-toggle {
    color: $font-color-nav-dark;
}

/* Title */

.title,
.logo {
    padding: 1em;
}

.title * {
    color: $title-color-dark;
    position: relative;
    top: 5px;
    text-decoration: none;
}

.logo {
    width: 150px;
}

.fa-5x {
    margin: 0 20px;
}

.footer {
    background-color: $background-color-header-footer-dark;
}

/* Main */

.main {
    background-color: $background-color-main-dark;
}

.main {
    flex: 1 0 auto;
    padding: 3em;
    margin: 4px 0;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.main h2 {
    text-align: center;
}

.main pre,
.main code {
    background: none !important;
}

.header,
.footer {
    flex: 0 0 auto;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: $border-style;
    padding: 8px;
    border-radius: 0 0 15px 15px;
}

.footer a {
    color: #222;
}

.footer
.social {
    font-size: 2rem;
}

.social a {
    margin: 0 15px;
}

/* Responiveness */

@media (max-width: 787px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    .main {
        padding: 1em;
    }

    .technology-article {
        gap: 0 !important;
    }

    .technology-container {
        display: flex !important;
        flex-direction: column;
        width: none;
        gap: 20px 45px;
        justify-content: center;
        align-items: center;
    }

    .technology-last-box {
        width: 200px;
        height: 150px;
    }

    .sidebar {
        display: none;
    }

    .article {
        padding: 1em;
    }

    .technology-last-box {
        width: 200px;
    }

}

@media (max-width: 360px) {
    .title a h1 {
        font-size: 20px;
    }

    .fa-github-alt {
        margin: 5px;
    }

    .main h2 {
        font-size: 15px;
    }
}

/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: #444;
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

img {
    max-width: 100%;
    margin: 1em auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}

.img-parent {
    text-align: center;
}
