$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$border-style: 1px solid #222;
$technologies-color: #5a803d;
$img-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;

$background-color-body: #083861;
$background-color-main: #f0f8ff;
$background-color-header-footer: #083861;
$font-color-header-footer: #eaebec;
$font-color-main: #333b43;
$font-color-nav: #b4b5b6;
$font-color-nav-hover: #5a803d;
$nav-hover-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
$title-color: #72a34d;

$background-color-body-dark: #06090c;
$background-color-main-dark: #212c3a;
$background-color-header-footer-dark: #171e28;
$font-color-dark: #b4b5b6;
$font-color-nav-dark: #b4b5b6;
$title-color-dark: #72a34d;
