{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main technology-article" role="main">
        <div id="sidebar" class="sidebar">
            <p><b>Andra teknologier</b></p>
                <ul>
                    {% for page in pages("technology") %}
                        <li><a href="{{ page.url }}">
                            {{ page.title}}
                        </a></li>
                    {% endfor %}
                </ul>
        </div>

        <div class="article">
            {{ content }}
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
